<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd" >
    <head>  
        <title>Wicket Quickstart Archetype Homepage</title>
    </head>
    <body>
        <strong>Pagina de Inicio -TP Seminario 2do/2009-</strong>
        <br>
        
        <input type="text" wicket:id="input" />
        <button wicket:id="boton">confirmar</button>
        <h1 wicket:id="mensaje">[texto]</h1>
        
        
		<!--<span wicket:id="usr">message will be here</span><br> -->
       <!--<button wicket:id="msg" style="width: 111px; height: 32px"></button> -->
    </body>
</html>

