<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
  <h1>Listados: Jugadores</h1>
  <form wicket:id="form1" action="">
  	<input wicket:id="todos" type="submit" value="Todos" />
  	<input wicket:id="porclub" type="submit" value="Por Club" />
  	<!--  <input wicket:id="pornombre" type="submit" value="Por Nombre" />-->
  	<table >
  		<tr>
	  		<th>ID</th>
	  		<th>NOMBRE</th>
  		</tr>
  		<tr wicket:id="detalle">
	  		<th><span wicket:id="id">[id]</span></th>
	  		<th><span wicket:id="nombre">[nombre]</span></th>
  		</tr>  		
  	  	
  	</table> 	
  
  
  </form>
  
  
</body>
</html>
