<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<form action="">
	<img  src="WebContent/img/logo.png" alt="pelota de fulbo" style="height: 54px; width: 58px"/>
	<h3>Sistema integral de Analisis y Estadisticas de Fulbol</h3>
</form>

<form wicket:id="formBusqueda" action="" >
	<input wicket:id="busqueda"  type="text" style="width: 352px"></input>
	<input wicket:id="buscar" type="submit" value="Buscar" ></input>
	<br>
	<span wicket:id="radioChoise">
		<input type="radio"></input>
	</span>
	<br>
	<ol>
	  <li> <span wicket:id="resultado">[1er item]</span></li>
	  <li> <span wicket:id="criterio">[2do item]</span></li>
	</ol>
</form>

<form wicket:id="formResultados" action="">
	<tr wicket:id="rows" class="even">
		<span wicket:id="item">[resultados]</span><a href="#" wicket:id="link" > Seleccionar</a><br>
	</tr>
</form>

  
</body>
</html>

