<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title wicket:id="title">title comes here</title>
    <!-- para que tome los css hay que configurar el ContextRoot de Wicket en las propiedades del proyecto  -->

	     <link rel="stylesheet" type="text/css" href="style.css"/>
         <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>
<body>
    <span />

    <div id="header" class="borderedBlock">
     <table width="100%">
      <tr>
       <td id="ad">
		<img src="img/pelota.png" alt="logo" style="height: 29px; width: 29px"/>	       
         <span >Sistema integral de Analisis y Estadisticas de Fulbol</span>
       </td>
      </tr>
     </table>
    </div>

    <table width="100%">

      <tr>
        <td id="left" class="borderedBlock">
        <a wicket:id="expandAll">Expand</a>&nbsp;&nbsp;
    	<a wicket:id="collapseAll">Collapse</a>&nbsp;&nbsp;
        <!-- tree -->
		    <table ><tr><td>
		        <div wicket:id="tree" class="my-tree">  
		        </div>  
		    </td></tr></table>
		<!-- tree -->
        </td>
        <td id="content" class="borderedBlock">
            <wicket:child />
        </td>
      </tr>

    </table>

    <div id="footer" class="borderedBlock">
		footer
    </div>

</body>
</html>