<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<link href="StyleTest.css" rel="stylesheet" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1 ><img src="c:/Java/fulbo/img/logo.png" alt="" style="height: 29px; width: 33px"/></h1>
				<h1>Fulbo</h1>
				<br />
				
				<br />
				<link href="#" wicket:id="link1">[link1]</link>
				<link href="#" wicket:id="link2">[link2]</link>
				<link href="#" wicket:id="link3">[link3]</link>
			</div>
			<div id="content">
				<div id="main">
					<h5>Sistema de administración y estadisticas para equipos de fulbol</h5>
				</div>
				<div id="cart">
					<h6>Este es el cart!!!</h6>
				</div>
			</div>
		</div>
	</body>
</html>